<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Join / Asylum</title>
	<link rel="stylesheet" href="/css/index.css">
</head>

<body>
	<div class="container">
		<div class="auth-container">
			<h1 class="heading">See what’s happening in the world right now</h1>
			<h4 class="branding">Join Asylum today.</h4>
			<button id="signup" onclick="window.location.href='/auth/signup';">
				Signup
			</button>
			<button id="login" onclick="window.location.href='/auth/login';">
				Login
			</button>
		</div>
	</div>
</body>

</html>