@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 5em;
}
form {
	display: flex;
	flex-direction: column;
}
form > * {
	margin-bottom: 1em;
}
.heading {
	margin-bottom: 1em;
}
input {
	all: unset;
	font-size: 1.2rem;
	padding: 0.25em 0.75em;
	width: 450px;
}
.field-container {
	border-bottom: 2px solid darkslategray;
	background-color: rgb(245, 248, 250);
}
.label {
	padding: 5px 10px 0 10px;
}
button {
	width: 100%;
	/* padding: 0.5em 1em; */
	background-color: #1da1f2;
	color: white;
	padding: 1.2em 0.75em;
	border: 1px solid;
	font-weight: 900;
	letter-spacing: 1px;
	border-radius: 100px;
}
button:hover {
	background-color: rgb(26, 145, 218);
}
