.stats-nav {
	display: flex;
	justify-content: center;
	/* background-color: rgb(211, 224, 228); */
}
.nav-item {
	width: 33.33%;
	height: 45px;
	text-align: center;
	padding: 0.75em 1em;
	font-weight: 700;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}
.nav-item:hover {
	color: #1da1f2;
}
.nav-active {
	background-color: #e8f5fe;
	color: #1da1f2;
	border-bottom: 3px solid #1da1f2;
}

.follower,
.following {
	display: flex;
}
.follower > *,
.following > * {
	width: 25%;
	text-align: center;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.follower__displayPic,
.following__displayPic {
	width: 3rem;
	height: 3rem;
	border-radius: 100px;
}
.following .follow-btn,
.follower .follow-btn {
	/* padding: 0; */
	height: fit-content;
	width: fit-content;
}
