#follow-btn {
	padding: 0.5em 0.75em;
	border: 1px solid;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 100px;
	width: 90px;
}
.not-following {
	border-color: #1da1f2;
	color: #1da1f2;
	background-color: white;
}
.not-following:hover {
	background-color: #e8f5fe;
}
.following {
	background-color: #1da1f2;
	border-color: #1da1f2;
	color: white;
}
.following:hover {
	background-color: rgb(202, 32, 85);
	border-color: rgb(202, 32, 85);
	color: white;
}
