.follow-btn {
	padding: 0.5em 0.75em;
	border: 1px solid;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 100px;
	width: 90px;
	transition: all 200ms ease-in-out;
}
.not-following {
	border-color: #1da1f2;
	color: #1da1f2;
	background-color: white;
}
.not-following:hover {
	background-color: #e8f5fe;
}
.is-following {
	background-color: #1da1f2;
	border-color: #1da1f2;
	color: white;
}
.is-following:hover {
	background-color: rgb(202, 32, 85);
	border-color: rgb(202, 32, 85);
	color: white;
}

.profile__stats > * {
	padding: 0.25em 0.75em;
	transition: all 200ms ease-in-out;
	border-radius: 10px;
}
.profile__stats > *:hover {
	background-color: lightblue;
}
